:root {
    --color-fondo-pagina: #f0f4f8; /* Fondo general (pálido) */
    --color-encabezado-footer: #90caf9; /* Azul suave */
    --color-texto: #333;
    --color-contenedor-juego: #ffffff; /* Fondo blanco del contenedor */
    --color-borde-juego: #64b5f6; /* Azul borde contenedor */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo-pagina);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: var(--color-encabezado-footer);
    color: var(--color-texto);
    text-align: center;
    padding: 1em;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.game-container {
    background-color: var(--color-contenedor-juego);
    border: 3px solid var(--color-borde-juego);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    border-radius: 10px;
    background-color: #b3e5fc; /* Fondo azul cielo pálido dentro del canvas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 620px;
    height: 480px;
}
