groups:

- name: website-health
  rules:
  - alert: WebsiteDown
    expr: absent(website_up)
    for: 30s
    labels:
      severity: critical
    annotations:
      summary: "锔 隆La web no est谩 disponible!"
      description: "No se puede acceder a website-health.php desde Prometheus."

- name: game_alerts
  rules:
    - alert: NewRecordFlappy
      expr: new_record{game="flappy"} > 0
      for: 0s   # Esperar 10 segundos para asegurar que la alerta es consistente
      labels:
        severity: critical
        alertname: "NewRecordFlappy"
        game: "flappy"
      annotations:
        summary: " 隆Nueva puntuaci贸n en flappy!"
        description: "Nueva puntuaci贸n en flappy de {{ $value }} puntos."

    - alert: NewRecordFruit
      expr: new_record{game="fruit"} > 0
      for: 0s
      labels:
        severity: critical
        alertname: "NewRecordFruit"
        game: "fruit"
      annotations:
        summary: " 隆Nueva puntuaci贸n en fruit!"
        description: "Nueva puntuaci贸n en flappy de {{ $value }} puntos."
        
